# Use mold linker on Linux for significantly faster linking (3-5x faster)
# mold must be installed: https://github.com/rui314/mold
[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]

[target.aarch64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-C", "link-arg=-fuse-ld=mold"]

# Increase incremental compilation cache (speeds up rebuilds)
incremental = true
