name: Docs

concurrency:
  group: docs
  cancel-in-progress: false

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    if: github.event_name == 'push'
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - name: Compute Cache Key
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - name: Restore Docs Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Install Docs Requirements
        run: pip install -r docs/requirements_docs.txt
      - name: Deploy Docs
        run: mkdocs gh-deploy --force

  build:
    runs-on: blacksmith-2vcpu-ubuntu-2404
    if: github.event_name == 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.x
      - name: Compute Cache Key
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - name: Restore Docs Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Install Docs Requirements
        run: pip install -r docs/requirements_docs.txt
      - name: Build Docs
        run: mkdocs build --strict
